main{
    width: 90%;
    margin: 0 auto;
    /* padding-left: 20px; */
    text-align: center;
}
h3{
    margin-top: 60px;
}

input{
    display: block;
    border-color: transparent;
    outline: none;
    color: #999;
}
.huoqu{
    margin: 0 auto;
    width: 320px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bar{
    
    font-size: 12px;
    color: #2F78FF;
}
footer{
    /* padding-left: 20px; */
    margin: 0 auto;
    line-height: 50px;
    color: #fff;
    text-align: center;
    width:320px;
    margin-top: 20px;
    height: 50px;
    background-color: #2F78FF;
}