*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #fefefe;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    width: 92%;
    margin: 0 auto;
}
.header{
    width: 100%;
    /* position:fixed; */
    height: 40px;
    background-color: #fff;
    /* text-align:center; */
    font-size:25px;
    padding: 0 20px;
    line-height:40px;
}
.header .link{
    position: absolute;
    top:0;
    right:10px;
    height:40px;
    border-radius:20px;
    display:flex;
    border:1px solid #ddd;
    color:#999;
}
.header .link span{
    padding:0 8px;
    font-size:30px;
}
.iconfont{
    font-family: 'iconfont';
}
.title{
    font-size: 18px;
    margin-left: 20px;
}
.jiantou{
    display: inline-block;
    transform: rotate(180deg);
}
.jifen{
    /* height: 100px; */
    width: 66%;
    text-align: center;
    background-color: #6668FF;
    border-radius: 10px;
    color: #fff;
    box-shadow: 10px 10px 10px #E7EFFF;
}
.jifen h4{
    padding-top: 20px;
}
.jifen p{
    padding-top: 20px;
    padding-bottom: 20px;
}
.jifen h1{
    padding-bottom: 20px;
}
main{
    /* width: 90%; */
    /* background-color: pink; */
    height: 200px;
}
.record{
    padding-top: 50px;
    padding-bottom:30px;
    position: relative;
}
.record span{
    position: absolute;
    top: 50px;
    left: 15px;
    color: #000000;
}
.reward{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    /* background-color: aqua; */
}
.left p{
  padding-bottom: 10px;
}
.left span{
    color: #999;
    font-size: 12px;
}
.right{
    color: #FF9900;
    font-weight: 700;
}
.reward:last-child{
    border-bottom:0px
}