*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.list{
    padding: 10px;
    height: 120px;
    width: 90%;
    margin: 0 auto;
    /* display: flex; */
    border-bottom: 1px solid #ccc;
    /* background-color: aqua; */

}
.list-new{
    margin-bottom: 30px;
    color: #2F78FF;
    font-weight: 700;
}
.list-txt{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.list-txt p{
    font-size: 12px;
}
.list-txt p:last-child{
    white-space:nowrap;
    color: #999;
}

